@import '../../../styles/var.scss';

.container {
  :global {
    .g-basic-layout-header-title {
      padding: 0 24px 0 88px;
      justify-content: flex-start;

      .m-input-search {
        width: 360px;
      }
    }
  }

  .body {
    padding: 24px;
  }
}
