@import '../../../../styles/var.scss';

.m-editable-cell-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 32px;

  &-icon.m-icon {
    color: $text-color-placeholder;
  }
}
