.header {
  text-align: center;
  font-weight: 600;
  padding: 24px 0;
  border-bottom: 1px solid #e0e0e0;
}

.body {
  display: flex;
  height: 60vh;

  .left,
  .right {
    height: 100%;
    overflow-y: auto;
  }

  .left {
    width: 25vw;
    border-right: 1px solid #e0e0e0;

    .field {
      padding: 16px 24px;
      border-bottom: 1px solid #e0e0e0;
    }

    .field-selected {
      position: relative;
      color: #003c43;
    }

    .field-selected-flag {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 50%;
      width: 8px;
      background-color: #003c43;
    }
  }

  .right {
    flex: 1;
    padding: 24px 32px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 24px 32px;
  border-top: 1px solid #e0e0e0;

  .btn {
    &-clear {
      width: 30vw;
    }

    &-confirm {
      flex: 1;
    }
  }
}
