@import '../../../styles/var.scss';

.container {
  background-image: linear-gradient(
    180deg,
    rgba($color-primary, 0.15) 0%,
    rgba($color-secondary, 0.15) 100%
  );

  :global {
    .g-basic-layout-header-title {
      justify-content: flex-start;
    }
  }

  .account {
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .balance-btn {
        color: $text-color-secondary;
      }

      &-btn {
        width: 120px;
      }
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .banner {
    border-radius: 144px;
    margin: 24px 0;
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 48px;
  }
}
