@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat;
  background-size: 100%;
  padding: 96px 32px;

  .title {
    &-text {
      font-size: 64px;
      color: transparent;
      font-weight: 700;
      text-align: center;
      background-image: linear-gradient(to bottom, #0070ff 70%, #04ebff 100%);
      background-clip: text;

      & + .title-text {
        margin-top: 8px;
      }
    }
  }

  .desc {
    @include flex-center;
    width: 600px;
    height: 56px;
    font-size: $font-size-small;
    color: #ffffff;
    font-weight: 500;
    background-image: linear-gradient(180deg, #f4a638 0%, #f1680a 100%);
    border-radius: 16px;
    margin-top: 20px;
  }

  .banner {
    height: 490px;
    margin-top: 56px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    border-radius: 16px;
    padding: 32px 40px;

    & + .section {
      margin-top: 32px;
    }
  }

  .intro {
    &-title {
      width: 456px;
      height: 52px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      text-align: center;
      color: #0070ff;
      margin-bottom: 48px;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px 64px;
      width: 100%;

      &-item {
        &-title {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 16px;

          &-icon {
            width: 36px;
            height: 36px;
          }

          &-text {
            flex: 1;
            font-size: $font-size-base;
            color: $text-color-main;
            font-weight: 500;
          }
        }

        &-desc {
          font-size: $font-size-small;
          color: $text-color-secondary;
          font-weight: 400;
        }
      }
    }
  }

  .reservation {
    &-title {
      font-size: $font-size-xlarge;
      color: transparent;
      font-weight: 600;
      background-image: linear-gradient(to bottom, #0070ff 70%, #04ebff 100%);
      background-clip: text;
      margin-bottom: 48px;
    }

    &-flow {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      width: 100%;
      margin-bottom: 60px;

      &-title {
        font-size: $font-size-large;
        color: $text-color-main;
        font-weight: 500;
      }

      &-step {
        width: 100%;

        :global {
          .nut-step-head {
            margin-bottom: 8px;
          }
        }
      }
    }

    &-btn {
      width: 330px;
      margin-bottom: 48px;
    }

    &-code {
      @include flex-center;

      &-item {
        position: relative;
        width: 220px;
        height: 220px;
        border: 2px solid #214aff;
        border-radius: 12px;

        &-img {
          width: 100%;
          border-radius: 12px;
        }

        &-name {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          font-size: 16px;
          color: #214aff;
          font-weight: 400;
          background-color: #fff;
          padding: 0 8px;
        }
      }
    }
  }
}
