@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color-base;
  padding: 0 32px;
  overflow: hidden;
}

.body {
  flex: 1;
  width: 100%;
  padding-bottom: 16px;
  overflow-y: auto;

  .bubble {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;

    &:first-child {
      margin-top: 32px;
    }

    &:first-child {
      margin-bottom: 32px;
    }

    &-left {
      padding-right: 80px;

      .bubble-content-text {
        color: $text-color-main;
        background-color: #fff;

        &::after {
          left: -12px;
          border-right: 12px solid #fff;
        }
      }
    }

    &-right {
      flex-direction: row-reverse;
      padding-left: 80px;

      .bubble-content-text {
        color: #fff;
        background-color: $color-primary;

        &::after {
          right: -12px;
          border-left: 12px solid $color-primary;
        }
      }
    }

    &-avatar {
      flex-shrink: 0;
    }

    &-content {
      &-text {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 72px;
        padding: 16px 24px;
        border-radius: 8px;
        font-size: $font-size-large;
        font-weight: 400;

        &::after {
          content: '';
          position: absolute;
          top: 24px;
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
        }
      }

      &-image {
        max-width: 200px;
      }
    }
  }
}

.footer {
  @include flex-center();
  flex-shrink: 0;
  padding-bottom: 64px;

  .content {
    position: relative;
    width: 100%;
    border-radius: 16px;
    box-shadow:
      0 0 4px 0 rgba(0, 0, 0, 0.12),
      0 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .input {
      padding-left: 32px;
      padding-right: 72px;
    }

    .upload {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
    }
  }
}
