@font-face {
  font-family: 'iconfont'; /* Project id 4593602 */
  src:
    url('iconfont.woff2?t=1722910712473') format('woff2'),
    url('iconfont.woff?t=1722910712473') format('woff'),
    url('iconfont.ttf?t=1722910712473') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PlayArrowFilled:before {
  content: '\e77a';
}

.icon-TagFilled:before {
  content: '\e611';
}

.icon-CurrencyFilled:before {
  content: '\e612';
}

.icon-EditOutlined:before {
  content: '\e6c2';
}

.icon-SearchOutlined:before {
  content: '\e6c9';
}

.icon-MessageFilled:before {
  content: '\e60d';
}

.icon-CustomerServiceFilled:before {
  content: '\e60e';
}

.icon-AddressFilled:before {
  content: '\e60f';
}

.icon-ProtocolFilled:before {
  content: '\e610';
}

.icon-IdentityVerificationFilled:before {
  content: '\e608';
}

.icon-FeedbackFilled:before {
  content: '\e609';
}

.icon-PaymentFilled:before {
  content: '\e60a';
}

.icon-BagFilled:before {
  content: '\e60b';
}

.icon-ShopFilled:before {
  content: '\e607';
}

.icon-PlaneFilled:before {
  content: '\e60c';
}

.icon-HideOutlined:before {
  content: '\e6d1';
}

.icon-EyeOutlined:before {
  content: '\e7a0';
}

.icon-ShiJianFilled:before {
  content: '\e97d';
}

.icon-ShopOutlined:before {
  content: '\e606';
}

.icon-ScanOutlined:before {
  content: '\e67c';
}

.icon-FormOutlined:before {
  content: '\e661';
}

.icon-CheckOutlined:before {
  content: '\e6fb';
}

.icon-IncomeFilled:before {
  content: '\e8c6';
}

.icon-CopyOutlined:before {
  content: '\e6c4';
}

.icon-LogoFilled:before {
  content: '\e605';
}

.icon-MobileOutlined:before {
  content: '\e673';
}

.icon-PhoneOutlined:before {
  content: '\e677';
}

.icon-DeleteOutlined:before {
  content: '\e6cc';
}

.icon-CloseOutlined:before {
  content: '\e6cd';
}

.icon-PlusOutlined:before {
  content: '\e6d0';
}

.icon-DoubleUpOutlined:before {
  content: '\e6d6';
}

.icon-DoubleDownOutlined:before {
  content: '\e6d7';
}

.icon-LeftOutlined:before {
  content: '\e6d8';
}

.icon-DownOutlined:before {
  content: '\e6d9';
}

.icon-UpOutlined:before {
  content: '\e6da';
}

.icon-RightOutlined:before {
  content: '\e6db';
}

.icon-DownFilled:before {
  content: '\e6e6';
}

.icon-SuccessFilled:before {
  content: '\e6bd';
}

.icon-NewFilled:before {
  content: '\e743';
}

.icon-FilterFilled:before {
  content: '\e72b';
}

.icon-DeletionOutlined:before {
  content: '\e78d';
}

.icon-EnvironmentOutlined:before {
  content: '\1066a';
}

.icon-AliPayFilled:before {
  content: '\e8b8';
}

.icon-WechatFilled:before {
  content: '\e8cb';
}

.icon-WechatPayFilled:before {
  content: '\e8ce';
}

.icon-LoveOutlined:before {
  content: '\e91c';
}

.icon-ShareOneOutlined:before {
  content: '\e91d';
}

.icon-LoveFilled:before {
  content: '\e91e';
}

.icon-QingCOutlined:before {
  content: '\e9c2';
}

.icon-LianJFilled:before {
  content: '\ea34';
}

.icon-RentOutlined:before {
  content: '\ea3e';
}
