@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    flex: 1;
    overflow-y: auto;
  }
}

.brief-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  &-extra {
    flex: 1;
  }

  .favorite {
    font-size: $font-size-small;

    &-count {
      color: $color-primary;
      margin-right: 4px;
    }

    &-text {
      color: $text-color-secondary;
    }
  }

  .remark {
    max-width: 200px;
    @include ellipsis;
  }
}
