@import '../../styles/var.scss';

.m-input-password {
  display: flex;
  align-items: center;
  gap: 16px;

  &-input {
    flex: 1;
  }

  &-icon {
    color: $text-color-secondary;
  }

  .input-placeholder {
    color: $text-color-placeholder;
  }
}
