@import '../../styles/var.scss';

.g-basic-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5fa;

  &:not(.g-basic-layout-fill) {
    .g-basic-layout-body {
      padding: 24px;
    }
  }

  &:not(.g-basic-layout-transparent) {
    .g-basic-layout-status-bar,
    .g-basic-layout-header {
      background-color: #ffffff;
    }
  }

  &-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 96px;

    &-icon {
      position: absolute;
      top: 50%;
      left: 36px;
      transform: translateY(-50%);
    }

    &-title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: $font-size-large;
    }
  }

  &-body {
    flex: 1;
    width: 100vw;
  }
}
