@import '../../../../../../styles/var.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 148px;
  row-gap: 8px;
  padding: 32px;
  background: #f5e4c4;
  border-radius: 16px;

  & + & {
    margin-top: 16px;
  }

  .title {
    grid-column: 1 / 2;
    font-size: $font-size-base;
    color: #993f1f;
    font-weight: 600;
  }

  .desc {
    grid-column: 1 / 2;
    font-size: $font-size-small;
    color: #993f1f;
    font-weight: 400;
  }

  .status {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
