@import '../../../../../styles/var.scss';
@import '../../../../../styles/mixins.scss';

.record {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 32px 24px;
  background-color: #fff;
  border-radius: 24px;

  & + & {
    margin-top: 16px;
  }

  &-image {
    background: #fff8eb;
    border-radius: 8px;
    overflow: hidden;
  }

  &-content {
    flex: 1;
    overflow: hidden;

    &-title {
      font-size: $font-size-base;
      color: $text-color-main;
      font-weight: 500;
    }

    &-desc {
      font-size: $font-size-small;
      color: $text-color-secondary;
      font-weight: 400;
      margin-top: 8px;
      @include ellipsis;
    }
  }
}
