@import '../../styles/var.scss';

.m-cell {
  &-main {
    display: flex;
    gap: 32px;
    padding: 32px;

    &-label {
      font-size: $font-size-large;
      color: $text-color-main;
      font-weight: 500;
    }

    &-content {
      flex: 1;
    }
  }

  &-divider {
    width: 100%;
    height: 2px;
    background-color: $border-color-base;
  }
}
