@import '../../styles/var.scss';

.m-company {
  &-logo {
    position: relative;
    z-index: 1;
  }

  &-name {
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: 400;
  }
}
