@import '../../styles/var.scss';

.m-company {
  align-items: center;
  gap: 8px;

  &-block {
    display: flex;
  }

  &:not(.m-company-block) {
    display: inline-flex;
  }

  &-logo {
    position: relative;
    flex-shrink: 0;
  }

  &-name {
    flex: 1;
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: 400;
  }
}
