.m-list {
  &.nut-infiniteloading {
    box-sizing: border-box;
  }

  &-multicolumn {
    .nut-infinite-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px 0;
    }
  }

  &:not(.m-list-fill) {
    padding: 24px;
  }

  .nut-infinite-bottom {
    padding-top: 48px;
  }
}
