.m-list {
  &.nut-infiniteloading {
    box-sizing: border-box;
  }

  &-multicolumn {
    .nut-infinite-container {
      display: grid;
      grid-template-columns: repeat(2, calc((100% - 24px) / 2));
      column-gap: 24px;
      row-gap: 24px;
    }
  }

  &-padding {
    .nut-infinite-container {
      padding: 24px;
    }
  }

  .nut-infinite-bottom {
    padding-top: 48px;
  }
}
