.m-list {
  &-multicolumn {
    .nut-infinite-container {
      // column-count: 2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px 0;

      // & > view {
      //   break-inside: avoid;
      //   margin-bottom: 24px;
      // }
    }
  }

  .nut-infinite-bottom {
    padding-top: 48px;
  }
}
