@import '../../../../../styles/var.scss';
@import '../../../../../styles/mixins.scss';

.empty {
  @include flex-center;
  height: 200px;
  background-color: #fff;
  border-radius: 16px;

  .content {
    color: $color-primary;
    font-size: $font-size-large;

    :global {
      .m-icon {
        color: $color-primary;
      }
    }
  }
}
