@import '../../../../styles/var.scss';
@import '../../../../styles/mixins.scss';

.btn {
  height: auto;
  padding: 0;

  &::before {
    content: none;
  }

  :global {
    .nut-button {
      &-wrap {
        @include flex-center(column);
      }

      &-text {
        font-family: PingFangSC-Regular;
        font-size: $font-size-small;
        color: $text-color-base;
        font-weight: 400;
      }
    }
  }
}
