@import '../../../../styles/var.scss';

.empty {
  display: flex;
  align-items: center;
  padding: 28px 32px;

  &-text {
    flex: 1;
    font-size: $font-size-base;
    color: $text-color-main;
    font-weight: 500;
  }

  &-icon {
    color: $text-color-placeholder;
  }
}

.popup {
  &-content {
    height: 60vh;
    overflow-y: auto;

    .item {
      &-selected {
        background-color: $color-secondary;
      }
    }
  }
}
