@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.product {
  display: grid;
  grid-template-columns: 128px 1fr;
  column-gap: 24px;

  &-image {
    grid-row: 1 / 3;
    width: 128px;
    height: 128px;
  }

  &-title {
    font-size: $font-size-base;
    color: $text-color-main;
    font-weight: 500;
    @include ellipsis(2);
  }

  &-desc {
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: 400;
    margin-top: 16px;
  }
}

.tip {
  font-size: $font-size-small;
  color: $text-color-placeholder;

  :global {
    .m-link {
      font-size: $font-size-small;
    }
  }
}
