@import '../../styles/var.scss';

.m-code-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;
    background-color: #f6f6f6;
    border-radius: 16px;
    text-align: center;
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50.1%,
    100% {
      opacity: 0;
    }
  }

  &-cursor {
    width: 2px;
    height: 24px;
    background-color: $color-primary;
    animation: blink 1s infinite;
  }
}
