@import '../../styles/var.scss';

.m-address-card {
  padding: 24px 32px;
  border-radius: 16px;
  background-color: #ffffff;

  &-content {
    display: grid;
    grid-template-columns: auto 32px;
    grid-template-rows: repeat(2 auto);
    row-gap: 12px;

    &-title {
      grid-column: 1 / 2;
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: $font-size-base;
      color: $text-color-main;
      font-weight: 500;
    }

    &-desc {
      grid-column: 1 / 2;
      font-size: $font-size-small;
      color: $text-color-secondary;
      font-weight: 400;
    }

    &-icon {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      align-self: center;
    }
  }
}
