// 主题色
$color-primary: #f76793;
$color-secondary: #faedf1;

// 文字颜色
$text-color-main: #000000;
$text-color-base: #4a4a4a;
$text-color-secondary: #7c7c7c;
$text-color-placeholder: #c7c7c7;
$text-color-disabled: #c7c7c7;

// 文字大小
$font-size-xsmall: 20px;
$font-size-small: 24px;
$font-size-base: 28px;
$font-size-large: 32px;
$font-size-xlarge: 36px;

// 边框
$border-color-base: #e0e0e0;

// 背景
$background-color-base: #f9f9f9;
