@import '../../../../../styles/var.scss';

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &.active {
    .image-wrapper {
      border: 4px solid $color-primary;
    }

    .label {
      background-color: $color-primary;
      color: #fff;
    }
  }

  .image-wrapper {
    width: 88px;
    height: 88px;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
  }

  .label {
    height: 40px;
    line-height: 1em;
    color: $text-color-base;
    font-size: $font-size-small;
    padding: 8px 24px;
    border-radius: 20px;
    overflow: hidden;
  }
}
