@import '../../../../styles/var.scss';

.m-product-detail-picture-group {
  &-thumbnail {
    &-group {
      padding: 24px 32px;
      background-color: #fff;
    }

    &-item {
      border: 3px solid transparent;
      border-radius: 4px;
      overflow: hidden;

      &-media {
        width: 96px;
        height: 96px;
      }
    }

    &-selected {
      border-color: $color-primary;
    }
  }

  &-preview {
    .nut-imagepreview-swiper-item {
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}
