@import '../../../../styles/var.scss';

.m-product-detail-picture-group {
  &-thumbnail {
    &-group {
      padding: 24px 32px;
      background-color: #fff;
    }

    &-item {
      border: 3px solid transparent;
      border-radius: 4px;
      overflow: hidden;
    }

    &-selected {
      border-color: $color-primary;
    }
  }
}
