@import '../../../../styles/var.scss';
@import '../../../../styles/mixins.scss';

.item {
  padding: 24px 0;

  & + .item {
    border-top: 2px solid $border-color-base;
  }

  &-content {
    display: flex;
    align-items: flex-start;
  }

  &-info {
    flex: 1;

    &-title {
      font-size: $font-size-large;
      color: $text-color-main;
      font-weight: 500;
      margin-bottom: 8px;
    }

    &-time {
      font-size: $font-size-small;
      color: $text-color-secondary;
      font-weight: 400;
    }

    &-remark {
      font-size: $font-size-small;
      color: $color-primary;
      font-weight: 400;
    }
  }

  &-amount {
    font-size: $font-size-large;
    color: $text-color-main;
    font-weight: 500;
  }
}
