@import '../../../../styles/var.scss';
@import '../../../../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-group {
    margin-top: 72px;

    .icon {
      @include flex-center;
      width: 100px;
      height: 100px;
      border-radius: 24px;

      &-logo {
        background-color: $color-primary;
      }

      &-wechat {
        background-image: linear-gradient(180deg, #69dd79 0%, #5ccb6d 100%);
      }

      &-link {
        color: $text-color-secondary;
      }

      :global {
        .m-icon {
          color: #fff;
        }
      }
    }
  }

  .title {
    font-size: 48px;
    color: $text-color-main;
    font-weight: 500;
    margin-top: 80px;
  }

  .desc {
    font-size: $font-size-base;
    color: $text-color-base;
    font-weight: 400;
    margin-top: 16px;
  }

  .btn {
    margin-top: 288px;

    :global {
      .m-icon {
        color: #fff;
      }
    }
  }
}
