@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    flex: 1;
    overflow-y: auto;
  }
}

.brief-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  &-extra {
    &-feedback {
      font-size: $font-size-small;
      font-weight: 400;

      &-num {
        color: $color-primary;
      }

      &-text {
        color: $text-color-secondary;
      }
    }

    &-remark {
      max-width: 400px;
      @include ellipsis;
    }
  }
}
