@import '../../styles/var.scss';

.m-upload {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  &-item {
    position: relative;

    &-img {
      width: 160px;
      height: 160px;
    }

    &-icon {
      position: absolute;
      right: -16px;
      top: -16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $text-color-base;
      border-radius: 50%;
      padding: 6px;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 1px dashed $border-color-base;
    background-color: $background-color-base;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &-placeholder {
      font-size: $font-size-small;
      color: $text-color-base;
    }
  }
}
