@import '../../../styles/var.scss';

.m-picker-view {
  display: flex;
  align-items: center;
  gap: 20px;

  &-block {
    .m-picker-view-text {
      flex: 1;
    }
  }

  &-text {
    color: $text-color-main;
  }

  &-icon {
    color: $text-color-placeholder;
  }

  &-placeholder {
    color: $text-color-placeholder;
  }
}
