@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.container {
  :global {
    .nut-safe-area {
      background-color: #fff;
    }
  }
}

.header {
  padding: 24px;

  .top {
    display: flex;
    align-items: center;
    gap: 24px;

    .content {
      flex: 1;

      .name {
        font-size: 40px;
        color: $text-color-main;
        font-weight: 600;
      }

      .info {
        &-item {
          font-size: $font-size-small;
          color: $text-color-base;
          font-weight: 400;
        }
        :global {
          .m-space-split-divider {
            border-inline-start: 4rpx solid $text-color-secondary;
          }
        }
      }
    }
  }
}

.body {
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  min-height: calc(100vh - 420px);

  .top {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;

    .intro {
      flex: 1;
      font-size: $font-size-small;
      color: $text-color-main;
      font-weight: 400;
    }

    .btn-share {
      background: $background-color-disabled;
      border-radius: 12px;
    }
  }

  .tabs {
    border-bottom: 2px solid $border-color-base;

    :global {
      .nut-tabs-list {
        padding: 0 16px;
      }

      .nut-tabs-titles {
        height: 72px;
      }

      .nut-tabs-titles-item {
        height: 72px;
        line-height: 72px;
        padding: 0 24px;
      }

      .nut-tabs-titles-item-line,
      .nut-tabs-titles-item-smile {
        bottom: 0;
      }
    }
  }

  .list {
    padding: 24px;
  }
}
