@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.header {
  padding: 24px 0;
  border-bottom: 2px solid $border-color-base;

  &-wrapper {
    padding: 0 24px;
    background-color: #fff;
  }

  .top {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;

    .content {
      flex: 1;

      .name {
        font-size: 40px;
        color: $text-color-main;
        font-weight: 600;
      }

      .info {
        &-item {
          font-size: $font-size-small;
          color: $text-color-secondary;
          font-weight: 400;
        }

        // :global {
        //   .m-space-split {
        //     height: 40px;
        //   }
        // }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    gap: 24px;

    .intro {
      flex: 1;
      font-size: $font-size-small;
      color: $text-color-main;
      font-weight: 400;
    }
  }
}

.body {
  .tabs {
    :global {
      .nut-tabs-titles-item-text {
        color: $text-color-base;
        background-color: $background-color-disabled;
        border: 2px solid $background-color-disabled;
        border-radius: 32px;
        padding: 8px 32px;
      }

      .nut-tabs-titles-item-active {
        .nut-tabs-titles-item-text {
          color: #fff;
          background-color: $color-primary;
          border: 2px solid $color-primary;
        }
      }
    }
  }

  .list {
    padding: 24px;
  }
}
