@import '../../../styles/var.scss';

.container {
  background: #fff;

  .content {
    padding: 244px 24px 0;
  }

  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      margin-bottom: 48px;
    }

    .name {
      color: $text-color-main;
      font-weight: 500;
    }
  }

  .login {
    flex: 1;
    margin-top: 296px;

    .btn {
      &-primary {
        margin-bottom: 64px;
      }

      &-link {
        font-weight: 500;
      }
    }
  }

  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;

    &-text {
      font-size: $font-size-base;
      color: $text-color-secondary;
    }
  }

  .protocol {
    margin-top: 180px;
  }
}
