@import '../../../../styles/var.scss';
@import '../../../../styles/mixins.scss';

.m-product-detail-field {
  .m-section-header.m-title {
    margin-bottom: 24px;
  }

  &-btn {
    display: flex;
    align-items: center;
    overflow: hidden;

    &-text {
      flex: 1;
      @include ellipsis;
    }
  }
}
