@import '../../../../styles/var.scss';

.card {
  & + & {
    margin-top: 24px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    &-action {
      display: flex;
      align-items: center;

      &-btn {
        font-family: PingFangSC-Regular;
        font-size: $font-size-small;

        :global {
          .m-icon,
          .nut-button-text {
            color: $text-color-secondary;
          }
        }
      }
    }
  }
}

.btn-wrapper {
  padding: 0 24px;
  margin-top: 64px;
}
