@import '../../../../styles/var.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .content {
    color: $text-color-main;
    font-weight: 500;
  }

  .title {
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: 400;
    margin-top: 8px;
  }
}
