@import '../../styles/var.scss';

.m-input-search {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 72px;
  background-color: $background-color-base;
  border-radius: 36px;
  padding: 0 32px;

  &-icon {
    color: $text-color-secondary;
  }

  &-input {
    flex: 1;
    padding: 0 8px;
    background-color: transparent;
  }
}
