@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.header {
  padding: 8px 32px 32px;
  background-color: #fff;

  .other {
    display: flex;
    margin-bottom: 20px;

    .tag-group {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .lease {
      font-size: $font-size-small;
      color: $text-color-secondary;
      font-weight: 400;
    }
  }

  .name {
    font-size: 36px;
    color: $text-color-main;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .desc {
    font-size: $font-size-base;
    color: $text-color-secondary;
    font-weight: 400;
  }
}

.body {
  padding: 24px 24px 200px;

  :global {
    .m-section-header.m-title {
      margin-bottom: 24px;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #fff;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    padding: 16px 32px;

    .more {
      font-size: $font-size-large;
      color: $text-color-base;
      font-weight: 400;
    }
  }
}
