.header {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;

  &-info {
    &-name {
      font-size: 40px;
    }

    &-no {
      font-size: 28px;
      color: #959595;
    }
  }
}

.body {
  .cell {
    &-title {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
