@import '../../../styles/var.scss';

.content {
  padding-bottom: 140px;
}

.info {
  padding: 0 32px;

  &-content {
    padding: 24px 0;
    border-top: 2px solid $border-color-base;
  }
}

.section {
  :global {
    .m-section-header.m-title {
      margin-bottom: 24px;

      .m-title-text {
        font-size: $font-size-base;
      }
    }
  }
}

.footer {
  &-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
