@import '../../../styles/var.scss';

.info {
  padding: 0 32px;

  .content {
    padding: 24px 0;
    border-top: 2px solid $border-color-base;
  }
}

.section {
  :global {
    .m-section-header.m-title {
      margin-bottom: 24px;

      .m-title-text {
        font-size: $font-size-base;
      }
    }
  }
}
