.header {
  margin-bottom: 48px;

  &-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 40px;
    margin-bottom: 16px;
  }

  &-info {
    display: inline-block;
    font-size: 24px;
    color: #959595;
    background-color: #e3f9fd;
    padding: 8px 16px;
    border-radius: 16px;
  }
}

.title {
  margin-bottom: 24px;
}

.member {
  &-item {
    gap: 16px;

    &-content {
      flex: 1;

      &-name {
        font-size: 28px;
      }

      &-role {
        font-size: 24px;
        color: #959595;
      }
    }
  }

  .btn {
    margin-top: 40px;
  }
}
