.pic {
  width: 100%;
  background-color: #fff;
}

.content {
  padding: 16px 24px;

  .header {
    display: flex;

    &-left {
      flex: 1;

      .name {
        margin-bottom: 16px;
      }

      .desc {
        font-size: 24px;
        color: #7c7c7c;
        margin-bottom: 16px;
      }
    }

    &-right {
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #135d66;
      }
    }
  }
}
