@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.m-product-lease-price {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 36px;
  border-radius: 8px;
  overflow: hidden;
  font-size: $font-size-small;
  background-color: #f2f1ff;

  // &-icon {
  //   @include flex-center;
  //   width: 50px;
  //   height: 100%;
  //   font-weight: 400;
  //   font-style: italic;
  //   color: #fff;
  //   background-color: #8475ff;
  // }

  &-text {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    font-weight: 600;
    color: #8475ff;
  }
}
