@import '../../../../styles/var.scss';
@import '../../../../styles/mixins.scss';

.notice {
  margin-bottom: 16px;

  :global {
    .nut-noticebar-box {
      font-size: $font-size-base;
      color: $color-primary;
      background-color: #ffe8ef;
    }

    .m-icon {
      color: $color-primary;
    }
  }
}

.dialog {
  :global {
    .nut-dialog-content {
      margin: 0;
    }
  }

  &-content {
    @include flex-center(column);
    gap: 16px;
    height: 420px;

    &-tip {
      color: $text-color-main;
      font-size: $font-size-large;
      font-weight: 500;
    }
  }
}
