@import '../../../styles/var.scss';

.container {
  background-image: linear-gradient(180deg, #faedf1 188px, #ffffff 376px);

  .banner {
    position: relative;
    height: 220px;

    &-content {
      position: absolute;
      top: 50%;
      left: 32px;
      transform: translateY(-50%);

      &-title {
        font-size: 40px;
        color: $text-color-main;
        font-weight: 600;
        margin-bottom: 8px;
      }

      &-desc {
        font-size: $font-size-small;
        color: $text-color-secondary;
        font-weight: 400;
      }
    }

    &-image {
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);
    }
  }

  .content {
    background-color: #fff;
    padding: 0 32px;

    .form {
      :global {
        .nut-cell.nut-form-item {
          padding: 24px 0;
        }
      }
    }
  }
}

.license-tip {
  font-size: $font-size-small;
  color: $text-color-placeholder;
  font-weight: 400;
}
