@import '../../../styles/var.scss';

.container {
  background-color: #fff;

  .content {
    padding: 0 48px;
  }
}

.license-tip {
  font-size: $font-size-small;
  color: $text-color-secondary;
  font-weight: 400;

  &-btn {
    padding: 0;

    :global {
      .nut-button-wrap {
        color: $color-primary;
      }
    }
  }
}
