@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.m-avatar.nut-avatar {
  &.m-avatar-image {
    background: transparent;
  }

  &:not(.m-avatar-image) {
    background-image: linear-gradient(
      90deg,
      $color-primary 0%,
      $color-primary-gradient 100%
    );
  }

  .text {
    @include flex-center;
    color: #fff;
  }
}
