@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;

  .icon-btn {
    height: 76px;
    padding: 0;
    font-size: $font-size-xsmall;
    color: $text-color-base;
    overflow: visible;

    &::before,
    &::after {
      display: none;
    }

    :global {
      .nut-button-text {
        line-height: 28px;
      }

      .m-icon {
        line-height: 1em;

        .iconfont {
          position: relative;

          &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            line-height: 1em;
          }
        }
      }
    }
  }
}
