.body {
  .search-bar {
    padding: 0;
    background-color: transparent;
    margin-bottom: 32px;
  }

  .list {
    .cell {
      &-content {
        display: flex;
        width: 100%;

        &-info {
          flex: 1;
          padding: 0 24px;

          &-name {
          }

          &-desc {
            font-size: 24px;
            color: #7c7c7c;
          }
        }

        &-extra {
          width: 80px;
          font-size: 24px;
          color: #7c7c7c;
        }
      }
    }
  }
}
