page {
  --nutui-color-primary: #003c43;
  --nutui-color-primary-stop-1: #2e737d;
  --nutui-color-primary-stop-2: #003c43;
  --nutui-color-primary-light: #aed8cc;
  --nutui-form-item-required-color: #fa2c19;
  --nutui-form-item-error-message-color: #fa2c19;
  --nutui-form-item-error-line-color: #fa2c19;
}

view {
  box-sizing: border-box;
}
