@import './styles/var.scss';
@import './styles/reset-nutui.scss';

page {
  --nutui-color-primary: #f76793;
  --nutui-color-primary-stop-1: #f76793;
  --nutui-color-primary-stop-2: #ff9b9d;
  --nutui-color-primary-light: #faedf1;
  --nutui-color-primary-disabled: #ff9b9d;
  --nutui-form-item-required-color: #ff4747;
  --nutui-form-item-error-message-color: #ff4747;
  --nutui-form-item-error-line-color: #ff4747;
  --nutui-input-color: #000000;
}

view {
  box-sizing: border-box;
}
