@import '../../../../styles/var.scss';

.header {
  :global {
    .m-section-header {
      margin-bottom: 24px;
    }
  }

  .tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;

    .tag {
      display: inline-flex;
      align-items: center;
      gap: 16px;
      padding: 8px 16px;
      background-color: $color-secondary;
      color: $color-primary;
      border: 2px solor $color-primary;
      border-radius: 8px;

      &-icon {
        color: $color-primary;
      }
    }
  }

  .btn {
    margin-top: 24px;
  }
}

.body {
  padding: 24px 32px;
}
