@import '../../../../styles/var.scss';

.container {
  background-color: #fff;

  .title {
    font-size: 48px;
    color: $text-color-main;
    font-weight: 600;
    padding: 0 32px;
    margin-bottom: 24px;
  }
}
