@import '../../../../../styles/var.scss';

.payment {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 32px;
  background: #ffffff;
  border-radius: 16px;

  &-content {
    flex: 1;

    &-name {
      font-size: $font-size-large;
      color: $text-color-main;
      font-weight: 400;
    }

    &-owner {
      font-size: $font-size-small;
      color: $text-color-secondary;
      font-weight: 400;
    }

    &-account {
      font-size: $font-size-large;
      color: $text-color-main;
      font-weight: 400;
      margin-top: 16px;
    }
  }

  &-btn {
    align-self: flex-end;
  }
}
